<%#
# StateMachine Form Partial

This partial renders a list of selectable transitions.
Saving the state will trigger the event callbacks defined in the state machine.

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of Administrate::Field::StateMachine.
  A wrapper around the attribute pulled from the database.
%>

<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.select(
    :state_event,
    options_from_collection_for_select(
      field.transitions,
      :event,
      ->(transition) { transition.event.to_s.humanize },
    ),
    include_blank: 'Select…'
  ) %>
</div>
